@font-face {
    font-family: "Effra";
    src: url("./Font/Effra_Std_Rg.ttf");
}

.header{
    width: 100%;
    height: 11rem;
    position: relative;
    background-image: url(https://mahdimajdian.github.io/Resturant-App/assets/haeder.png);
    font-family: Effra;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.header-container{
    width: 75%;
    height: 100%;
}

.headerOveraly{
    width: 100%;
    height: 4rem;
    border-radius: 5rem 5rem 0 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.eatHealthyText{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 2.2rem;
}
.lifeHealthyText{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 2.2rem;
}
.headerImg{
    position: absolute;
    width: 11rem;
    height: 11rem;
    top : 2rem;
    left: 40%;
    transform: translateX(-50%);
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-panel{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-6.5%);
    /* margin-top: 1rem; */
}
.foodCard-Container{
    width: 75%;
    max-height: 73vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    padding-top: 7rem;
}
.foodCard-Container::-webkit-scrollbar{
    display: none;
}
.right-panel{
    position: absolute;
    right: 0;
    top: 11rem;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 47, 136);
}

.shoppingCart{
    width: 100%;
    max-height: 5.5rem;
    background: linear-gradient(45deg, #ffa600 -10%, #ffd857 110%);
    color: #402f88;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.shoppingCart::-webkit-scrollbar{
    display: none;
}
.shoppingCart i{
    color: #402f88;
    width: 56px;
    height: 56px;
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 0;
}
.placeOrder-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.discountLable{
    color: #fff;
    margin: 1rem;
    font-size: 1.5rem;
}
.discountCodeInput-div{
    width: 90%;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.discountCodeInput{
    width: 100%;
    height: 100%;
    font-family: inherit;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: #2c2c2c;
}
.discountCodeInput::placeholder{
    color: rgb(177, 175, 175);
}
.discountCodeInput-btn{
    width: 20%;
    height: 100%;
    background-color: #ffa600;
    right: 0;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    width: 90%;
    height: 7rem;
    background-color: #fff;
    margin-top: 1.5rem;
    border-radius: 4rem;
    color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 8px;
}
.totalPrice{
    color: #fff;
    margin-top: 1rem;
    font-size: 2rem;
}
.totalPrice span{
    font-size: 2rem;
}

.placeOrder-btn{
    width: 90%;
    height: 2.5rem;
    background-color: #ffa600;
    border: none;
    margin-top: .8rem;
    border-radius: 1.5rem;
    color: #2c2c2c;
    font-size: 1rem;
}